<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form th:action="@{/registration}" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name"><br>
    <label for="email">Почта:</label>
    <input type="text" id="email" name="email"><br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>